In [74]:
from pathlib import Path

dataset_path = Path("C:/D_Drive/Homework/ALDA/YOLO/Dataset/YOLO/Total_dataset/")
labels = sorted(dataset_path.rglob("*labels/*.txt"))    # all data in 'labels'
len(labels)

9963

In [75]:
cls_idx = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, "max", "count"]
classes = ["aeroplane", "bicycle", "bird", "boat", "bottle", "bus", "car", "cat", "chair", "cow", "diningtable", "dog", "horse", "motorbike", "person", "pottedplant", "sheep", "sofa", "train", "tvmonitor"]

In [76]:
import pandas as pd

indx = [label.stem for label in labels]  # uses base filename as ID (no extension)
labels_df = pd.DataFrame([], columns=cls_idx, index=indx)
labels_df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,max,count
000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
009959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
009960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
009961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
009962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
009963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
from collections import Counter

for label in labels:
    lbl_counter = Counter()

    with open(label, "r") as lf:
        lines = lf.readlines()

    for line in lines:
        # classes for YOLO label uses integer at first position of each line
        lbl_counter[int(line.split(" ")[0])] += 1
    most_common = lbl_counter.most_common(1)[0][0]
    count = lbl_counter.total()
    lbl_counter["count"] = count
    lbl_counter["max"] = most_common
    labels_df.loc[label.stem] = lbl_counter

labels_df = labels_df.fillna(0.0)   # replace `nan` values with `0.0`
labels_df.head

C:\Users\shubh\AppData\Local\Temp\ipykernel_36868\123874605.py:18: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  labels_df = labels_df.fillna(0.0)   # replace `nan` values with `0.0`

<bound method NDFrame.head of           0    1    2    3    4    5    6    7    8    9  ...   12   13   14  \
000001  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0
000002  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
000003  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  0.0  0.0  0.0
000004  0.0  0.0  0.0  0.0  0.0  0.0  7.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
000005  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  3.0  0.0  ...  0.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
009959  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
009960  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  1.0  1.0
009961  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
009962  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  0.0  0.0  3.0
009963  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

         15   16   17   18   19   max  count
000001  0.0  0.0  0.0  0.0  0.0  11.0    2.0
000002  0.0  0.0  0.0  1.0  0.0  18.0    1.0
000003  0.0  0.0  1.0  0.0  0.0  17.0    2.0
000004  0.0  0.0  0.0  0.0  0.0   6.0    7.0
000005  0.0  0.0  0.0  0.0  0.0   8.0    3.0
...     ...  ...  ...  ...  ...   ...    ...
009959  0.0  0.0  0.0  0.0  0.0   6.0    1.0
009960  0.0  0.0  0.0  0.0  0.0  13.0    2.0
009961  0.0  0.0  0.0  0.0  0.0  11.0    1.0
009962  0.0  0.0  0.0  0.0  0.0  14.0    4.0
009963  0.0  0.0  0.0  0.0  0.0   6.0    1.0

[9963 rows x 22 columns]>

In [86]:
from sklearn.model_selection import StratifiedKFold

ksplit = 4
kf = StratifiedKFold(n_splits=ksplit, shuffle=True, random_state=20)  # setting random_state for repeatable results

kfolds = list(kf.split(labels_df, labels_df["max"]))

In [87]:
folds = [f"split_{n}" for n in range(1, ksplit + 1)]
folds_df = pd.DataFrame(index=indx, columns=folds)

for idx, (train, val) in enumerate(kfolds, start=1):
    folds_df.loc[labels_df.iloc[train].index, f"split_{idx}"] = "train"
    folds_df.loc[labels_df.iloc[val].index, f"split_{idx}"] = "val"

In [88]:
fold_lbl_distrb = pd.DataFrame(index=folds, columns=cls_idx)

for n, (train_indices, val_indices) in enumerate(kfolds, start=1):
    train_totals = labels_df.iloc[train_indices].sum()
    val_totals = labels_df.iloc[val_indices].sum()

    # To avoid division by zero, we add a small value (1E-7) to the denominator
    ratio = val_totals / (train_totals + 1e-7)
    fold_lbl_distrb.loc[f"split_{n}"] = ratio
print("Distribution of classes per fold")    
fold_lbl_distrb

Distribution of classes per fold

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,max,count
split_1,0.310421,0.284916,0.338527,0.362069,0.258398,0.311573,0.36546,0.332123,0.319185,0.355795,...,0.324627,0.346856,0.310865,0.339623,0.286082,0.316216,0.337182,0.319415,0.333253,0.320047
split_2,0.377622,0.374502,0.289222,0.286047,0.281579,0.327327,0.337152,0.32971,0.344291,0.355795,...,0.297989,0.314851,0.346676,0.320053,0.363388,0.316216,0.343387,0.333333,0.333289,0.335212
split_3,0.334086,0.326923,0.307054,0.338983,0.407514,0.347561,0.325581,0.346789,0.340811,0.313316,...,0.332083,0.264762,0.332659,0.394109,0.355978,0.364146,0.321918,0.35914,0.333521,0.337531
split_4,0.313333,0.350294,0.40416,0.34878,0.399425,0.347561,0.306503,0.32491,0.329341,0.309896,...,0.381323,0.415778,0.343732,0.284238,0.330667,0.337912,0.331034,0.322176,0.333271,0.340733

In [89]:
import yaml

supported_extensions = [".jpg", ".jpeg", ".png"]

# Initialize an empty list to store image file paths
images = []

# Gather image files
images.extend(sorted((dataset_path / "images").rglob(f"*{'.jpg'}")))

k_fold_dir = Path("C:/D_Drive/Homework/ALDA/YOLO/Dataset/YOLO/")
# Create the necessary directories and dataset YAML files (unchanged)
save_path = Path(k_fold_dir / f"{ksplit}-Fold_Cross-val")
save_path.mkdir(parents=True, exist_ok=True)
ds_yamls = []

for split in folds_df.columns:
    # Create directories
    split_dir = save_path / split
    split_dir.mkdir(parents=True, exist_ok=True)
    (split_dir / "train" / "images").mkdir(parents=True, exist_ok=True)
    (split_dir / "train" / "labels").mkdir(parents=True, exist_ok=True)
    (split_dir / "val" / "images").mkdir(parents=True, exist_ok=True)
    (split_dir / "val" / "labels").mkdir(parents=True, exist_ok=True)

    # Create dataset YAML files
    dataset_yaml = split_dir / f"{split}_dataset.yaml"
    ds_yamls.append(dataset_yaml)

    with open(dataset_yaml, "w") as ds_y:
        yaml.safe_dump(
            {
                "path": split_dir.as_posix(),
                "train": "train",
                "val": "val",
                "names": classes,
            },
            ds_y,
        )

In [90]:
import shutil

for image, label in zip(images, labels):
    for split, k_split in folds_df.loc[image.stem].items():
        # Destination directory
        img_to_path = save_path / split / k_split / "images"
        lbl_to_path = save_path / split / k_split / "labels"

        # Copy image and label files to new directory (SamefileError if file already exists)
        shutil.copy(image, img_to_path / image.name)
        shutil.copy(label, lbl_to_path / label.name)
        break

In [91]:
# Save Records
folds_df.to_csv(save_path / "kfold_datasplit.csv")
fold_lbl_distrb.to_csv(save_path / "kfold_label_distribution.csv")